:root {
  --fine-pine-green-300: #36b37e;
  --primary-300: #0065ff;
  --pacific-bridge-primary-400: #0052cc;
  --squid-ink-navy-800: #172b4d;
  --poppy-surprise-red-300: #ff5630;
  --golden-state-yellow-300: #ffab00;
  --tamarama-teal-300: #00b8d9;
  --da-juice-purple-300: #6554c0;
}
